@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

:root {
  --body_background: #FFFFFF;
  --primary_color: #871C3F;
  --body_color: #061E3E;
}

[data-theme="dark"] {
  --body_background: #061E3E;
  --body_color: #F4EAED;
  --primary_color: #871C3F;
}

.App {
  background-color: var(--body_background);
  color: var(--body_color);
  position: relative;
}

.primary-btn {
  border: 2px solid var(--primary_color);
  background-color: var(--primary_color);
}

.secondary-btn {
  border: 2px solid var(--primary_color);
  color: var(--body_color);
}

.header-color {
  color: var(--primary_color);
}

p {
  font-size: 18px;
}

button {
  font-size: 17px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.navbar {
  background-color: var(--body_background);
}

/* Navigation items hover effect */
.hover-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary_color);
  transition: width .3s;
}

.hover-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.material-symbols-outlined {
  font-size: 35px;
  color: var(--icon_color);
}